<!DOCTYPE html>
<head>
	<title>The Cheap Drunk</title>
	<link rel="stylesheet" href="./Style.css"/>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Lily+Script+One' rel='stylesheet' type='text/css'>
	<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
</head>

<body>
	<div class="top">
		<div id="top-bar"></div>
		<div id="nav-bar">
			<ul class="nav-links">
				<a href="/"><li id="active"><strong>HOME</strong></li></a>
				<a href="/all"><li><strong>ALL</strong></li></a>
				<a href="/beer"><li><strong>BEER</strong></li></a>
				<a href="/wine"><li><strong>WINE</strong></li></a>
				<a href="/cider"><li><strong>CIDER</strong></li></a>
				<a href="/coolers"><li><strong>COOLERS</strong></li></a>
				<a href="/vodka"><li><strong>VODKA</strong></li></a>
				<a href="/rum"><li><strong>RUM</strong></li></a>
				<a href="/whiskey"><li><strong>WHISKEY</strong></li></a>
				<a href="/gin"><li><strong>GIN</strong></li></a>
			</ul>
		</div>
	</div>

	<article class="main-container">
	<h1 id="logo">The Cheap Drunk</h1>
	<div id="pitch">
		<p>Ever wondered what the cheapest way to get drunk was? 
			<br>We've compiled a list of every single product in the LCBO
			<br>and sorted them by the price of one litre of pure alcohol.
			<br>The coloured bars represent the cost of getting hammered
			<br>(i.e. the shorter, the better).
			<br>If you're getting sloshed in Ontario for less money,
			<br>you're drinking Listerine.</p>
	</div>
	</article>


	<div class ="footer" id="index">
		<p id="author-tag">Created by Stuart Garvagh - &copy; 2013</p>
		<ul class="social">
			<a href="https://www.facebook.com/stuart.garvagh"><li id="fb"></li></a>
			<a href="https://twitter.com/StuartGarvagh"><li id="twitter"></li></a>
		</ul>
	</div>


</body>
</html>
