/* ----- CSS RESET ----- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- FONTS ----- */

@font-face {
	font-family: 'Share-Regular';
	src: url('Fonts/Share-Regular.otf');
	src: local('Share-Regular'), url('Fonts/Share-Regular.otf') format('truetype');
}

/* ----- MAIN ----- */

body{
	background: url("main-noise.jpg");
	overflow-x: hidden;
}

/* ----- HEADER ----- */

.top{
	background: url("main-noise.jpg");
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	z-index: 1;
}

#top-bar{
	width: 100%;
	height: 10px;
	background: black;
	position: fixed;
	top: 0;
	left: 0;
}

#nav-bar{
	background: url("main-noise.jpg");
	position: fixed;
	top: 20px;
	left: 30%;
	width: 800px;
	height: 30px;
	border-bottom: thin solid gray;
}

.nav-links{
	list-style: none;
}

.nav-links li{
	display: inline-block;
	position: relative;
	bottom: -2px;
	left: 18.3%;
	border-right: thin solid gray;
	margin: -2px;
	padding: 7px 10px 7px 10px;
	letter-spacing: 2px;
	font-family: 'PT Sans Narrow', "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-weight: bold;
	color: black;
}

.nav-links li:hover{
	color: white;
	background: black;
}

#active{
	color: white;
	background: black;
}

/* ----- LANDING PAGE MAIN ----- */

.main-container{
	position: absolute;
	top: 60px;
	left: 0;
	background: url('bottle.png');
	background-repeat: no-repeat;
	z-index: -1;
	width: 100%;
	height: 90%;

}

#logo{
	position: relative;
	top: 25px;
	left: 38%;
	font-family: 'Lily Script One', cursive;
	font-size: 50px;
	margin-bottom: 40px;
}

#pitch{
	position: relative;
	left: 500px;
	color: gray;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	font-style: italic;
	line-height: 28px;
}

/* ----- FOOTER ----- */

.footer#index{
	position: absolute;
}

.footer#show{
	position: relative;
}

.footer{
	height: 50px;
	width: 100%;
	background: black;
	color: white;
	right: 0;
	bottom: 0;
}

#author-tag{
	width: 400px;
	float: left;
	margin-left: 10px;
	margin-top: 15px;
	font-family: 'PT Sans Narrow', "HelveticaNeue-CondensedBold", "Helvetica Neue";
	letter-spacing: 3px;
	font-size: 18px;
	color: white;
}

.social{
	float: right;
	style: none;
}

.social li{
	display: inline-block;
	height: 30px;
	width: 35px;
	margin-top: 8px;
	margin-right: 10px;
}

.social #fb{
	background: url("social.png") no-repeat -3px -1px;
}

.social #twitter{
	background: url("social.png") no-repeat -38px -1px;
}

/* ----- PRODUCTS ----- */

.products-container{
	z-index: -2;
	width: 85%;
	margin: auto;
	overflow: clip;
}

.products{
	list-style: none;
	margin-top: 100px;
	position: relative;
	left: 90px;
}

.products li{
	margin: 10px;
	height: 75px;
	border-radius: 5px;
	z-index: 1;
	opacity: 0.8;
	transition: 0.75s;
}


.bg0{
	background: url('purplenoise.jpg');
}

.bg1{
	background: url('bluenoise.jpg');
}

.bg2{
	background: url('greennoise.jpg');
}

.bg3{
	background: url('yellownoise.jpg');
}

.bg4{
	background: url('beigenoise.jpg');
}

.bg5{
	background: url('orangenoise.jpg');
}

.bg6{
	background: url('rednoise.jpg');
}

.bg7{
	background: url('pinknoise.jpg');
}

.list-number{
	display: inline-block;
	height: 40px;
	width: 40px;
	position: relative;
	top: 5px;
	left: 5px;
	background: black;
	color: white;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-family: "Share-Regular", "Helvetica Neue", sans-serif;
	opacity: 1;
}

.products li:hover {
	opacity: 1;
}
.products li a {
	text-decoration: none;
	color: black;
}

.products li a .product-name{
	display: inline;
	font-family: "Share-Regular", "Helvetica Neue", sans-serif;
	font-size: 20px;
	margin: 10px;
	opacity: 1;
}

.product-thumbnail{
	display: inline;
	background-image: url('http://fineartamerica.com/images-medium/wine-silhouette-tom-mc-nemar.jpg');
	background-size: 75px 75px;
	background-repeat:no-repeat;
	width: 75px;
	height: 75px;
	margin: 10px 10px;
	box-shadow: inset 0 0 10px #000000;
}

.tooltip{
	z-index: 2;
	position: relative;
	display: none;
	height: 50px;
	width: 140px;
	border: 1px solid black;
	border-radius: 2px;
	background: black;
	font-family: "Share-Regular", "Helvetica Neue", sans-serif;
	font-size: 15px;
	color: white;
	padding: 10px;
}

.products li:hover .tooltip{
	display: block;
}

.show-more{
	display: block;
	margin: auto;
	width: 125px;
	height: 50px;
	background: black;
	border-radius: 10px;
	font-family: 'PT Sans Narrow', "HelveticaNeue-CondensedBold", "Helvetica Neue";
	letter-spacing: 3px;
	font-size: 18px;
	color: white;
	margin-bottom: 10px;
	box-shadow: 1px 1px 15px black;
}